node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

node_modules
.env
coverage
coverage.json                           
typechain

#Hardhat files
cache
artifacts
./web3js/hardhat-graph/mygraph/build
./web3js/hardhat-graph/mygraph/node_modules